#!/bin/bash

#  Available environment variables provided by gsatlc:
#+
#+ GSAT_JOBNAME:   user specified job name
#+
#+ GSAT_O_WORKDIR: job's work directory
#+
#+ GSAT_O_HOME:    home directory of submitting user
#+
#+ GSAT_O_LOGNAME: name of submitting user
#+
#+ GSAT_O_JOBID:   job id
#+
#+ GSAT_O_HOST:    host on which job is currently executing
#+
#+ GSAT_O_PATH:    path variable used to locate executables during job execution


#  Available environment variables provided by run-services:
#+
#+ GSAT_EVENT:     the triggering event


#  Available utility/helper functions provided by run-services:
#+
#+ __getEmailAddress():
#+                 returns the user provided email address.

#  Save job name and job id to file in /tmp
echo "EVENT $GSAT_EVENT | The job \"$GSAT_JOBNAME\" has job id \"$GSAT_O_JOBID\"." > /tmp/${GSAT_O_LOGNAME}_${GSAT_JOBNAME}.info

exit

